[submodule ".config/awesome/awesompd"]
	path = .config/awesome/awesompd
	url = https://github.com/alexander-yakushev/awesompd.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
